# Configurações do Banco de Dados (Render PostgreSQL)
DATABASE_URL=postgresql://sistema_ponto_db_user:PhJDSEgZ9jVyq9S0FzxgFF1fguQbVIaG@dpg-d3rao6umcj7s73egt7hg-a/sistema_ponto_db

# Segurança JWT
JWT_SECRET=sua_chave_secreta_super_segura_aqui

# Porta do Servidor
PORT=3000

# Ambiente
NODE_ENV=production