# Configurações do Banco de Dados (Render PostgreSQL)
DATABASE_URL=postgresql://sistema_ponto_db_user:PhJDSEgZ9jVyq9S0FzxgFF1fguQbVIaG@dpg-d3rao6umcj7s73egt7hg-a/sistema_ponto_db

# Segurança JWT
JWT_SECRET=b13bdf10a625a3cfca7c970a1ac3380d

# Porta do Servidor
PORT=3000

# Ambiente
NODE_ENV=production